.fab-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9999;
    cursor: pointer;
}

.fab-icon-holder {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-image: linear-gradient(to bottom right, #ba39be, #05b370);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.35);
}

.fab-image-holder {
    background-image: url(https://i.imgur.com/x6YRXy8.png);
    background-color: white;
    background-size: 58px;
    background-repeat: no-repeat;
    background-position: right;
}

.fab-icon-holder i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 25px;
    color: #ffffff;
}

.fab-main {
    width: 60px;
    height: 60px;
}

.fab-main::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 10px;
}

.fab-options {
    list-style-type: none;
    margin: 0;
    position: absolute;
    bottom: 70px;
    right: 0;
    opacity: 0;
    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: 85% bottom;
}

.fab-main:hover+.fab-options,
.fab-options:hover {
    opacity: 1;
    transform: scale(1);
}

.fab-options li {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.fab-label {
    padding: 2px 5px;
    align-self: center;
    user-select: none;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 16px;
    background: #666666;
    color: #ffffff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
}

/* Specific content for numbers */
.icon-number-1::before { content: "①"; }
.icon-number-2::before { content: "②"; }
.icon-number-3::before { content: "③"; }
.icon-number-4::before { content: "④"; }
.icon-number-5::before { content: "⑤"; }